.btn {
  width: 298px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  padding: 16px;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-transform: uppercase;
  &:hover {
    cursor: pointer;
    background: #e47209;
  }
  &:active {
    background: #4b9200;
  }
  &:disabled {
    background: #767474;
    cursor: not-allowed;
  }
  &_secondary{
    border-radius: 5px;
  }
}

.btn_arrow {
  width: 62px;
  height: 62px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: #ffffff;
  &:hover {
    cursor: pointer;
    background: #e47209;
  }
  &:active {
    background: #4b9200;
  }
  &:disabled {
    background: #767474;
    cursor: not-allowed;
  }
}
