.animals-cards{
    width: 1158px;
    margin: 0 auto;
    background-color: aquamarine;
    margin-top: 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}