.header {
  position: relative;
  // background-color: #000000;
  margin: auto;
   height: 780px;
   width: 1160px;
  
  &_ellipce {
    position: absolute;
    top: 92px;
    right: 108px;
  }
  &_watch-your-animal {
    position: absolute;
    top: 166px;
    right: 0;
  }
  &_btn {
    position: absolute;
    bottom: 100px;
    right: 100px;
  }
}
