.testimonial-wraper{
    width: 1600px;
   
}
.testimonial{
    width: 1160px;
    margin: 0 auto;
    margin-top: 140px;
    margin-bottom: 180px;
    &_title{
        text-align: center;
    }
    &_button{
        margin-top: 31px;
    }
}
.testimonials_cards{
    width: 1160px;
    display: flex;
    justify-content: space-between;
  
    margin-top: 48px;
}

.slider-wraper{
    width: 599px;
    margin: 0 auto;
    margin-top: 21px;
}